/* navbar */
    *{
      margin: 0;
      padding: 0;
     box-sizing: border-box;

    }
      .container{
      height: 100vh;
      width: 100vw;
      position: relative;
      background-image: url("/img/background.png");
       background-position : center;
      background-size: cover;
    }
    
    nav{
      padding-top: 15px;
      box-shadow: 0 0 5px #FFFFFF;
   /*   background-color: #00C263;*/
   background-color: #1C8965;
      position: fixed;
      width: 100%;
      height: 60px;
      z-index: 888;
    }
    nav ul{
      display: flex;
      float: right;
    }
    nav li{
      list-style: none;
    }
    nav a{
      text-decoration: none;
      padding: 5px  5px;
      background-color: #FFFFFF;
      margin: 5px 5px;
      color: #000000;
      cursor: pointer;
    }
    .logo{
      position: fixed;
      display: flex;
      font-size: 25px;
      color: #FFFFFF;
    }
    .logo p{
      color: #FFFFFF;
      font-size: 26px;
    }
    .logo img{
      height: 40px;
      width: 40px;
      margin: 5px;
      margin-top: -5px;
      border-radius: 120px;
    }
     /* drop down manu*/
     
      .drop{
        margin-top: -5px;
      }
     .drop ul{
      display: none; 
     }
     .drop div{
      background: #FFFFFF;
      text-decoration: none;
      padding: 5px  5px;
      background-color: #FFFFFF;
      color: #000000;
     }
     .drop ul{
       position: fixed;
       top: 50px;
       right: 10px;
     }
     .drop:hover ul{
       display: block;
       padding: 5px 10px;
       border-radius: 5px;
       background-color: #FFFFFF;
     }
     .drop:hover ul li{
       padding: 5px  20px;
       cursor: pointer;
     }
      .menu-toggle {
        display: none;
      }
     
   @media screen and (max-width: 970px ){
     
   nav ul{
    float: left;
    display: block;
    height: 100vh;
    width: 240px;
    position: relative;
    top: 44px;
    left: -700px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px;
    transition: all .4s ease-in-out;
    background: #15835F;

      }
      nav ul li{
        height: 60px;
        width: 235px;
        margin: 1px  -37px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
      }
      nav a{
         margin: 15px -6px;
         padding: 7px 7px;
         position: relative;
         top: 15px;
         cursor: pointer;
         background: #FF636300;
      }
      nav a:hover{
         margin: 5px -0px;   
         transition: all .4s ease-in-out;
      }
     /* drop options */
     
     .drop{
       display: block;
       height: 50px;
       width: 100%;
       overflow: hidden;
       margin: 2px 0px;
     }
     .drop div{
       background: #FFFFFF00;
     }
    .drop ul{
      position: relative;
      margin: -40px 1px;
    }
    .drop:hover{
      min-height: 300px;
    }
    .drop ul li{
      margin-left: 50px;
      width: 160px;
      height: 45px;
      text-align: center;
      margin: 5px 20px;
      background: #42FF6A;
      overflow: auto;
      border-radius: 5px;
    }
    .drop ul li a{
      cursor: pointer;
      background: #0000005E;
    }
    
     /* manu icon */
     .menu-icon {
        cursor: pointer;
        position: fixed;
        top: 25px;
        right: 20px;
        z-index: 999;
        width: 30px;
        height: 4px;
        background: #FFFFFF;
        transition: transform 0.3s ease-in-out;
      }
      .menu-icon:before,
      .menu-icon:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background: #FFFFFF;
        transition: transform 0.3s ease-in-out;
      }
      .menu-icon:before {
        top: -10px;
      }
      .menu-icon:after {
        top: 10px;
      }
      .menu-toggle:checked + .menu-icon {
        transform: rotate(40deg);
        background: #FFFFFF;
      }
      .menu-toggle:checked + .menu-icon:before {
        transform: translateY(10px) rotate(90deg);
        background: #FFFFFF;
      }
      .menu-toggle:checked + .menu-icon:after {
        transform: translateY(-10px) rotate(90deg);
      }
      .menu-toggle {
        display: none;
      }
      #menu-toggle {
        display: none;
      }
     input:checked ~ nav ul{
    left: 0px;
   }
   
   /* menu icon end */
   }
   h2{
     font-size: 20px;
     padding-top: 100px;
     display: block;
   }
   .red{
     color: red;
   }
   .big_font{
     font-size: 30px
   }
/*      social media icon          */
.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 400px 0px;
}
     ul {
  list-style: none;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 1500px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #4d4d4d;
  background-color: #0000003D;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}
/* massage page */

        .box_conraimer{
          width: 100%;
          height: 50%;
          background-color: #FFFFFF;
          text-align: center;
          align-items: center;
          margin: auto;
          display: flex;
          padding: 20px 40px;
          background-color: #39DAAF;
          text-align: center;
          align-items: center;
          margin: auto;
          justify-content: center;
        }
        form{
          text-align: center;
          align-items: center;
          margin: auto;
          justify-content: center;
        }
        form input{
          margin: 10px;
          width: 200px;
          height: 40px;
          border: none;
          border-top: 1px solid #676767;
          border-bottom: 1px solid #676767;
          box-shadow: 0 0 10px  #CFF9FF;
        }
        .min_container{
          width: 320px;
          background-color: #FFFFFF;
        }
          #submit{
          padding: 10px 50px;
          background-color: #2C7BDA;
        }
        #submit:hover{
          background: #2C35DA;
        }
        #massage{
          width: 200px;
          border: none;
          border-top: 1px solid #676767;
          border-bottom: 1px solid #676767;
           box-shadow: 0 0 10px  #CFF9FF;
        }